.Home{
	display: flex;
	flex-wrap: wrap;
	
	width:95%;
	position: absolute;
	left: 3%;
	top:12%;


}
@media (max-width:400px) 
{
	.Home{
	
	left: 4%;
	top:12%;


}
}
@media (min-width:401px) and (max-width: 500px)
{
	.Home{
	
	left: 20%;
	top:12%;


}
}